@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
    <br /><br />
    <h2 style="color:purple">@ViewData["Title"]</h2>
    <br /><br />
    <h3>Email adresi :</h3>
    <h3><a href="mailto:omercanbolat13@gmail.com">omercanbolat@13gmail.com</a></h3>
    <h3>Telefon no :"05533671728"</h3>
</div>
